@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.body {
  background-image: url("../public/vite.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.page {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
}
 .sign-in-box{
    background-color: white;
    height: 450px;
    width: 350px;
    border-radius: 20px;
    padding: 15px 25px;
    position: absolute;
    top: 15%;
    left: 70%;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
     
 }
 .sign-in-box-heading{
 
  text-align: center;
  font-weight: lighter;
}
.input-box{
  background-color: #F6F6F6;
  padding : 5px;
}
 
.sign-in-button{
  border : 1px solid black;
  border-radius : 10px;
  padding : 8px 0;
  font-size: small;
  font-weight: bolder;
}
 .line {
  border-bottom: 1.5px solid #b2b2b2;
  margin: 4px;
}
.end-text{
  text-align: center;
  font-size: 10px;
  font-weight : 400;
}

.pubg {
  height: 25px;
  width: 50px;
  background-image: url("./assets/pubg.svg");
  background-size: 100% 100%;
}
.valorant {
  height: 25px;
  width: 50px;
  background-image: url("./assets/valorant.svg");
  background-size: 100% 100%;
}
.coc {
  height: 25px;
  width: 50px;
  background-image: url("./assets/coc.svg");
  background-size: 100% 100%;
}
.cod {
  height: 25px;
  width: 50px;
  background-image: url("./assets/codm.svg");
  background-size: 100% 100%;
}

/* footer */
.footer-list {
  color: white;
  display: flex;
  gap: 60px;
  padding: 10px;
  position: absolute;
  bottom: 5%;
  list-style-type: none;
  padding: 0 20px;
  color: #f6f6f6;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

/* Privacy policy */
.peepee {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/peepee.svg");
  background-size: cover;
}
.peepee-doc {
  height: 75vh;
  width: 25vw;
  background-color: white;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  scrollbar-width: none;
  padding: 5px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0, 0.5);
}
.peepee-doc-heading {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.peepee-doc-content {
  margin-top: 50px;
}
