@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin : 0;
    padding : 0;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body{
    background-image: url("../public/vite.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.page{
    height : 100vh;
    width: 100vw;
    margin-bottom: 0px;
}

       /* sign in box */

.sign-in-box{
    background-color: white;
    height : 65vh;
    width : 23vw;
    border-radius : 20px;
    padding : 20px;
    position : absolute;
    top : 15%;
    left : 65%;
    opacity : 90%;
}
.sign-in-box-heading{
    text-align: center;
    margin-bottom : 10px;
}
.input-text{
    width : 90%;
    margin: 10px 10px;
    height : 35px;
    border-radius : 10px;
    text-align: center;
    font-weight: bold;
    border : none;
    color : rgb(0, 0, 0);
    background-color : rgb(234, 231, 231)
}
#checkbox{
    margin : 15px 15px;
    transform :scale(1.5);
    border : 6px solid rgb(143, 73, 26);
}
.sign-in-button{  
     width : 90%;
    margin : 15px 12px;
    height : 35px;
    background-color: rgb(143, 73, 26);
    color : white;
    border-radius : 20px;
    border : none;
}
.sign-in-div{
    display: flex;
    justify-content : space-between;
    margin: 15px 15px;
    font-weight : bold;
}
.line{
    border-bottom: 1px solid rgb(143, 73, 26);
    margin : 4px 15px;
}
.end-text{
    text-align: center;
    font-size : 12px;
    margin : 15px;
}

    /* footer */
.footer-list{
    color : white;
    display : flex;
    gap : 100px;
    padding : 10px;
    position: absolute;
    bottom: 7%;
    list-style-type: none;
    padding : 0 20px;
}